html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
h1,h2,h3,h4,h5,h6,em,i {
    font-weight: 300 !important;
    font-style: normal;
    white-space: nowrap;
}
ul,ol,li {
    list-style-type: none !important;
}
a {
    color: black;
}

input,button,select,textarea{outline:none;}
/*清除浮动代码*/
.clearfloat:after{content:"";display:block;height:0;visibility:hidden;clear:both;}
.clearfloat{*zoom:1}
body{background-color: #f5f5f5;
     width: 100%;
     /* overflow: hidden; */
     user-select: none;
}
a,a:hover,a:active,a:visited,a:link,a:focus{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  outline:none;
  background: none;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
/* input {
  -webkit-appearance: none;
}
select{
  -webkit-appearance: none;
} */
.zoomt1 {
  z-index: 10000 !important;
}


.zoomt2 {
  z-index: 10001 !important;
}
